{{object-editor
  draft=(draft-for object)
}}

<br>

{{object-editor
  draft=(draft-for object)
}}

<br>

<div local-class="results">
  <table>
    <tr>
      <td local-class="label">
        Committed Value
      </td>
      <td>
        {{stringify object}}
      </td>
    </tr>
    <tr>
      <td local-class="label">
        Draft is Dirty
      </td>
      <td>
        {{draft-is-dirty object}}
      </td>
    </tr>
  </table>

  <br>

  <button {{action this.save}}>
    Save!
  </button>

  <button {{action this.reset}}>
    Reset!
  </button>
</div>