{{object-editor
  draft=(draft-for object)
}}

<br>

{{object-editor
  draft=(draft-for object)
}}

<br>

<div local-class="results">
  <span>
    <label local-class="label">Committed Value:</label>
    {{stringify object}}
  </span>

  <button {{action this.save}}>
    Save!
  </button>

  <button {{action this.reset}}>
    Reset!
  </button>
</div>